
            <div class="main-content">

    <div class="wdg-account-header-widget">
        <div class="main-section">
            <ul class="account-menu fn-clear">
                <!--网站拆分，werenrendai.com和we.com展示不同的header-->

                    <li class=" "><a href="https://www.renrendai.com/pc/user/account/p2p/index">P2P资产</a></li>
                    <li class=" "><a href="https://www.renrendai.com/pc/user/privilege">我的特权</a></li>
                    <li class=" "><a href="https://www.renrendai.com/pc/user/message/list">消息中心</a> <span class="org fn-hide">(0)</span></li>
                    <li class="active"><a href="https://www.renrendai.com/pc/user/setting/accountInfo">账户设置</a></li>
                    <li class="last"><a href="https://www.we.com/pc/user/account/home/myAccount">返回we理财账户</a></li>


            </ul>
        </div>
    </div>


    <div id="pg-account-security" class="main-section j-card">


        <div id="pg-findPsw">
            <div class="content">

                <div id="findpwd-step-nav">
        <div class="setting-section-title title-no-border">找回密码</div>
        <div class="step-list-con">
            <ul class="step-list fn-clear current-step1">
                <li class="step-item item-step1">
                  <span class="step-index num-family">1</span>
                  填写账户名
                </li>
                <li class="step-item item-step2">
                  <span class="step-index num-family">2</span>
                  验证身份
                </li>
                <li class="step-item item-step3">
                  <span class="step-index num-family">3</span>
                  设置新密码
                </li>
                <li class="step-item item-step4">
                  <span class="step-index num-family">4</span>
                  完成
                </li>
            </ul>
        </div>
    </div>

                <form class="inputs" method="post" action="/pc/user/findpwd/findByMobileOrEmail" id="notLoginFindPswForm">
                    <div class="ui-form-item-setting">
                        <label class="ui-label-setting">手机号/邮箱</label>
                        <input id="mobileOrEmail"  name="mobileOrEmail" class="ui-input-setting" placeholder="请输入手机号或邮箱" autocomplete="off" type="text">
                        <label for="mobileOrEmail" class="error_a"></label>
                    </div>
                    <div class="ui-form-item-setting">
                        <label class="ui-label-setting">验证码</label>
                        <input name="code" id="code" class="ui-input-setting randcode" placeholder="请输入验证码" autocomplete="off" type="text">
                        <a href="javascript:void(0)" class="rands"><img id="randImage" src="{:captcha_src()}" name="randImage" alt="captcha" border="0" align="absmiddle"></a>
                        <label for="code" class="error"></label>
                        <!--<div><img src="{:captcha_src()}" alt="captcha" /></div>-->
                        <!--<img src="{:captcha_src()}" alt="captcha"onclick="this.src='{:captcha_src()}'"/>-->

                    </div>
                    <div class="ui-form-item-setting btn-wrap">
                        <span id="submit" class="j-setting-btn j-btn">提交</span>
                    </div>
                </form>
            </div>
        </div>
    </div></div>
            <script>
                <!--填写账户名-->
            $(document).on('click','#submit',function(){
                var rands=$('#code').val();
                var phone=$('#mobileOrEmail').val();
//                验证手机和验证码
                var reg = /^1[34578]\d{9}$/;
                if(!reg.test(phone)){
                   $('.error_a').html("<font color='red'>手机号格式不正确！</font>").appendTo('.su').fadeOut(2000);
                    return false;
                }else{
                    $('.error_a').html("<font color='green'>手机号正确！</font>").appendTo('.su').fadeOut(2000);
                }
                $.ajax({
                    url:"password_add",
                    type:'post',
                    data:{rands:rands,phone:phone},
                    success:function(msg){
//                        alert(msg);return false;
                          if(msg==2){
                              alert('手机号格式不正确');
                          }else{
                              if(msg==1){
                                  $('.error').html("<font color='red'>验证码输入错误！</font>").appendTo('.su').fadeOut(2000);
                                  return false;
                              }else{
                                  window.location.href='idcard';
                              }
                          }
                        }
                })
            })
            </script>









