<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script>
            window._jHeadStart = ( new Date() ).getTime();
            window.tplConf = {
                user : {
                    userId : 'null'
                },
                pageKey : '',
                autoPV : true,
                autoIdentify : true,
                we_renrendai_host: 'https://www.renrendai.com',
                _isWeCom: 'false',
                target: '_self',
                isProduction : true,
                pbId : ''
            };
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="renderer" content="webkit">
        <meta name="google-site-verification" content="oQXrGa_mTgxg7joO0himE0QuFeqOVmm-SDC1H2dzT4c">
        <meta name="baidu-site-verification" content="wibJopuIuI" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
<meta name="keywords" content="互联网理财平台,安全理财产品,网上贷款平台,借贷平台,个人投资理财计划">
<meta name="description" content="多盈理财为您提供多元化投资理财产品与更优质的综合网上贷款平台服务,将更好满足您个人投资理财计划需求。">
<title>【多盈理财官网】专业值得信赖的网络借贷信息中介平台,互联网百强3A级信用企业</title>

        
            <link rel="shortcut icon" type="image/x-icon" href="/ps/static/common/static/img/favicon-rrd.ico" />
        

        <link rel="stylesheet" type="text/css" href="css/base_41a7e4e_1.css">

        
        



        
        <script type="text/javascript">
            (function(){
                var userAgent = navigator.userAgent.toLowerCase();
                if(userAgent.match(/rv:([\d.]+)\) like gecko/) || userAgent.match(/msie ([\d.]+)/) ){
                    document.write('<script src="js/babel-polyfill_1.js"><\/script>');
                }
            })();
        </script>

        
        
        

        
        

        
        
        <script type="text/javascript">
    window.zhuge = window.zhuge || [];
    window.zhuge.methods = "_init debug identify track trackLink trackForm page".split(" ");
    window.zhuge.factory = function(b) {
        return function() {
            var a = Array.prototype.slice.call(arguments);
            a.unshift(b);
            window.zhuge.push(a);
            return window.zhuge;
        }
    };
    for (var i = 0; i < window.zhuge.methods.length; i++) {
        var key = window.zhuge.methods[i];
        window.zhuge[key] = window.zhuge.factory(key);
    }
    window.zhuge.load = function(b, x) {
        if (!document.getElementById("zhuge-js")) {
            var a = document.createElement("script");
            var verDate = new Date();
            var verStr = verDate.getFullYear().toString()
                + verDate.getMonth().toString() + verDate.getDate().toString();

            a.type = "text/javascript";
            a.id = "zhuge-js";
            a.async = !0;
            a.src = "https://www.we.com/cms/5864b0d6a24d131067ef7956/js/zhuge.js?v=" + verStr;
            a.onerror = function(){
                window.zhuge.identify = window.zhuge.track = function(ename, props, callback){
                    if(callback && Object.prototype.toString.call(callback) === '[object Function]')callback();
                };
            };
            var c = document.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(a, c);
            window.zhuge._init(b, x)
        }
    };
    //区分线上线下上报的app key
    var app_key = window.tplConf.isProduction?"ee112f4bcbe648a0a0958ff03af06b2a":"2da9e18043f74bceb761b72ca6f3ae78";
    window.zhuge.load(app_key);
</script>

        <link rel="stylesheet" href="css/passport_wdg_8b183f3_1.css" />
        <link rel="stylesheet" href="css/index_e7cd5c0_1.css" />


        <link rel="stylesheet" href="css/uplan_wdg_a3071e5_1.css" />
        <link rel="stylesheet" href="css/detail_2861f98_1.css" />


        <link rel="stylesheet" href="css/autoinvest_wdg_ce2a92c_1.css" />
        <link rel="stylesheet" href="css/detail_aaa030d_1.css" />


    <link rel="stylesheet" href="css/common_wdg_c1db688_1.css" />
    <link rel="stylesheet" href="css/common_nm_aa4d4d8_1.css" />
    <link rel="stylesheet" href="css/home_wdg_2c34d21_1.css" />
    <link rel="stylesheet" href="css/index_05f62f1_1.css" />

    <link rel="stylesheet" href="css/p2p_wdg_a6d1551_1.css" />
    <link rel="stylesheet" href="css/index_184b71b_1.css" />
    
    </head>



    <body >

        <!--[if lt IE 9]>
        <div style='border: 4px solid #FFF500; background: #FDFDC8; text-align: center; clear: both; height: 75px; position: fixed; z-index:999999999; right: 2px; bottom: 2px; left: 2px; padding:0 8px;'>
            <div style='position: absolute; right: 3px; top: 3px; font-weight: bold;z-index:999999999'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'>关闭</a></div>
            <div style='width: 740px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
                <div style='width: 675px; float: left;'>
                    <div style='font-size: 16px; font-weight: bold; margin-top: 12px;'>您使用的是已经过时的IE浏览器</div>
                    <div style='font-size: 13px; margin-top: 6px; line-height: 16px;'>为了让您在人人贷有最佳的使用体验，请升级到 <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">最新版本IE浏览器</a>, 或者使用其他高级浏览器如 <a href="https://www.google.com/intl/en/chrome/browser/">Chrome(谷歌浏览器)</a> 或 <a href="http://www.mozilla.org/en-US/firefox/new">Firefox(火狐浏览器)</a></div>
                </div>
            </div>
        </div>
        <![endif]-->

        
        <img style="display: none;" src="picture/e99e0b623bec4163b3582e9ce6dad0e6.gif" />

        
            
            <div class="wdg-werenrendai-top-header">
    <div class="main-section">
        <span class="tel-phone"><i class="icon-phone"></i>客服电话: 400-090-6600</span>
        <ul class="site-nav">
            <li class="nav-item padding-item"><a target="_blank" href="https://www.we.com" style="color: #ff711c">返回WE理财首页</a></li>
            

            <li class="nav-item padding-item"><a target="_blank" href="/pc/about/rrd">关于我们</a></li>

            <li class="nav-item padding-item"><a target="_blank" href="/pc/about/rrdHelp/help">帮助中心</a></li>

            <li class="nav-item padding-item"><a target="_blank" href="http://bbs.we.com/">用户论坛</a></li>

            <li class="nav-item padding-item"><i class="icon-mobile3"></i><a target="_blank" href="/pc/app-download.html">移动客户端</a></li>
        </ul>
    </div>
</div>

            <div class="wdg-werenrendai-second-header">
    <div class="main-section current-channel-index">
        <a href="/" class="brand-logo mt15">
            
            <!--首页对logo添加h1标签-->
            <h1 class="rrd-logo">人人贷</h1>
            
        </a>
        
        <ul class="site-nav">
            <li class="channel-item active-channel"><a href="index">首页</a></li>
            <li class="channel-item "><a href="uplan">U计划</a></li>
            <li class="channel-item "><a href="premium">优选计划</a></li>
            <li class="channel-item "><a href="autoinvest">薪计划</a></li>
            <li class="user-item fn-clear" num="">
                    <div class="denglu">
                        <a target="_self" href="login">注册</a> / <a target="_self" href="login">登录</a>
                    </div>
                
            </li>
        </ul>
        
    </div>
</div>
<div id="header-helper" style="display: none;">
    <span id="header-helper-authenticated">
         false 
    </span>
</div>