
<div class="main-content">


    <div class="login-index" >

        <div class="car-center">
            <div class="spot">

            </div>
            <div class="data-show ">
                <div class="tab">
                    <span class="login-checked">登录</span>
                    <i></i>
                    <span class="reg-checked">注册</span>
                </div>
                <div id="form-login">
                    <div class="login-form">
                        <ul class="login-ul" >
                            <li>


                                <input class="ui-input" type="text" onblur="card(this.value)" placeholder="请输入手机号/邮箱" maxlength="48" onKeyDown="if (this.value.length>=48 ){event.returnValue=false}" name="j_username" id="j_username" data-is="isMobileOrEmail" autocomplete="off" />

                            </li>
                            <li>
                                <input class="ui-input " id="J_pass_input" onblur="password(this.value)" placeholder="请输入密码" type="password" name='j_password' data-is="isEmail" />

                            </li>

                            <li class="validate-image input-hide">
                                <input class="code"  name="j_code" id="randCode" type="text" placeholder="图形验证"/>
                                <a href="javascript:void(0)" class="rand-code"><img id="randImage" align="absmiddle" src="picture/aed62d1e90ef46b18b976cb434547073.gif" name="randImage" alt="验证码" /></a>
                            </li>

                        </ul>
                        <div class="rember">
                            <div class="rember-le">
            <span class="j-checkbox j-checked">
                 <input name="rememberme" id="rememberme" type="checkbox" checked="checked"/>
            </span>
                                <label for="rememberme"><span class="agree">我已经阅读并同意<a href="/pc/agreement/contract/currency/name/user.we_reg" target="_blank">《we.com平台注册服务协议》</a>和<br/><a href="/pc/agreement/contract/currency/name/user.rrd_reg" target="_blank">《renrendai.com平台注册服务协议》</a></span></label>

                            </div>
                        </div>
                        <input type="hidden" id="targetUrl" name="targetUrl" value="" />
                        <input type="hidden" id="returnUrl" name="returnUrl" value="" />
                        <div class="submit">
                            <input type="button" class="login-btn" id="a" value='立即登录'/>
                            <img src="picture/loading_dbf3776_1.gif"/>
                        </div>
                        <div class="login-last">
                            <div class="login-error">
                                请输入正确的手机号
                            </div>
                            <div class="d_error">
                                <p class="sub"></p>
                            </div>
                            <a class="findpsw" href="password">忘记密码?</a>
                        </div>

                    </div>



                    <script id="email-suggest-template" type="text/x-handlebars-template">
                        <ul>
                            {{#if remove}}
                            <li>{{inputs}}</li>
                            {{/if}}
                            {{#each lists}}
                            <li>{{email}}</li>
                            {{/each}}
                        </ul>
                    </script>
                    <script type="text/javascript" src="js/jquery.min.js"></script>
                    <script>
                        function card(str){
                            var reg = /^1[34578]\d{9}$/.test(str);
                            $('.sub').empty();
                            if(str==''){
                                $('<div class="d_error">').html("<font color='red'>请输入手机号！</font>").appendTo('.sub').fadeOut(2000);
                                return false;
                            }
                            if(!reg){
                                $('<div class="d_error">').html("<font color='red'>手机号格式不正确！</font>").appendTo('.sub').fadeOut(2000);
                                return false;
                            }
                        }
                        function password(){
                            $('.sub').empty();
                            var password = $("#J_pass_input").val(),
                                    passw = /^[a-zA-Z]{8,16}$|^[0-9]{8,16}$|^[~!@#$%^&*._]{8,16}$/.test(password),
                                    pw = /^[0-9A-Za-z~!@#$%^&*._]{8,16}$/.test(password);
                            if(passw || pw){
//            $('<div class="d_error">').html("<font color='red'>密码格式正确！</font>").appendTo('.sub').fadeOut(2000);
                            }else if(password==''){
                                $('<div class="d_error">').html("<font color='red'>请输入密码！</font>").appendTo('.sub').fadeOut(2000);
                            }else{
                                $('<div class="d_error">').html("<font color='red'>密码为8~16位数字、字母或符号组合！</font>").appendTo('.sub').fadeOut(2000);
                            }
                        }
                        $('#a').click(function(){
                            var tel= $('#j_username').val();
                            var password=$('#J_pass_input').val();
                            $.ajax({
                                type:'POST',
                                url:'yz',
                                data:{
                                    tel:tel,
                                    password:password
                                },
                                success:function(msg){
//                                    alert(msg)
                                    if(msg==1){
                                        $('<div class="d_error">').html("<font color='red'>手机号错误！</font>").appendTo('.sub').fadeOut(2000);
                                    }
                                    if(msg==2){
                                        $('<div class="d_error">').html("<font color='red'>密码错误！</font>").appendTo('.sub').fadeOut(2000);
                                    }
                                    if(msg==3){
                                        location.href='index';
                                        return true;
                                    }
                                }
                            })
                        });

                    </script>
                </div>
                <div id="form-reg">
                    <div class="reg-form">
                        <ul class="reg-ul">
                            <li>
                                <input class="ui-input" type="text" placeholder="请输入手机号" id="tel" onblur="d_card(this.value)" maxlength="48"   name="username" id="reg_username"/>
                            </li>
                            <li class="rand_code_show">
                                <input class="code"  name="type"  type="text" placeholder="图形验证"/>
                                <a href="javascript:void(0)" class="rand-code"><img id="reg-rand-image" align="absmiddle" src="picture/image_https_1.jsp" name="randImage" alt="验证码" /></a>
                            </li>
                            <li>
                                <input class="code"  autocomplete="off"  name="mobileCode" id="reg_verif" onblur="code(this.value)" type="text" placeholder="短信验证码"/>
                                <!--<span  class="verification" id="btn">获取验证码</span>-->
                                <input type="button" class="verification" id="btn" value="免费获取验证码" />
                            </li>

                            <li>
                                <input class="ui-input " id="reg_password" autocomplete="off" onblur="pwd(this.value)" placeholder="密码为8~16位数字、字母或符号组合" type="password" name='password' />

                            </li>
                        </ul>
                        <input type="hidden"  id="code" value=""/>
                        <div class="reg-agree">
        <span class="j-checkbox j-checked">
             <input name="rememberme" id="rememberme" type="checkbox" checked="checked"/>
        </span>
                            <label for="rememberme"><span class="agree">我已经阅读并同意<a href="/pc/agreement/contract/currency/name/user.we_reg" target="_blank">《we.com平台注册服务协议》</a>和<br/><a href="/pc/agreement/contract/currency/name/user.rrd_reg" target="_blank">《renrendai.com平台注册服务协议》</a></span></label>
                        </div>
                        <input type="hidden" id="regRegisterSource" name="registerSource"  value=""/>
                        <input type="hidden" id="regId" name="id" value=""/>
                        <input type="hidden" id="regPromotion" name="promotion" value=""/>
                        <input type="hidden" id="regInviteCode" name="inviteCode" value=""/>
                        <input type="hidden" id="intention" name="intention" value=""/>

                        <div class="reg-submit">
                            <input type="button" class="reg-btn" id="b" value='注册领红包'/>
                            <img src="picture/loading_dbf3776_1.gif"/>
                        </div>
                        <div class="error">
                            <p class="su"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="login-carousel">


            <li>
                <span><img src="picture/pc_zcyxw_0804_1.jpg" alt="登录的轮播图"/></span>
            </li>

        </ul>
    </div>


</div>
<script>
    //进行手机号的验证
    function d_card(str){
        var reg = /^1[34578]\d{9}$/;
        var tel=$('#tel').val();
        $('.su').empty();
        if(reg.test(str)){
            $.ajax({
                type:'POST',
                url:'sel',
                data:{
                    telephone:tel
                },
                success:function(msg){
                    if(msg==0){
                        $('<div class="error">').html("<font color='red'>手机号已被注册！</font>").appendTo('.su').fadeOut(2000);
                    }
                    if(msg==1){
                        $('<div class="error">').html("<font color='red'>手机号可以使用！</font>").appendTo('.su').fadeOut(2000);
                    }
                }
            })
            return true;
        }
        else if(tel==''){
            $('<div class="error">').html("<font color='red'>手机号不能为空！</font>").appendTo('.su').fadeOut(2000);
            return false;
        }else{
            $('<div class="error">').html("<font color='red'>手机号格式不正确！</font>").appendTo('.su').fadeOut(2000);
            return false
        }
    }
    //点击获取验证码 + 点击后图标30秒后才可继续进行点击发送
    document.getElementById("btn").onclick=function(){time(this);}
    var wait=30;
    function time(o) {

        if (wait == 0) {
            o.removeAttribute("disabled");
            o.value="免费获取验证码";
            wait = 30;
        } else {

            o.setAttribute("disabled", true);
            o.value="重新发送(" + wait + ")";
            wait--;
            setTimeout(function() {
                        time(o)
                    },
                    1000)
        }
    }
    $('.verification').click(function(){
        var tel= $('#tel').val();
        var reg = /^1[34578]\d{9}$/;
        if(reg.test(tel)){
            $.ajax({
                type:'POST',
                url:'code',
                data:{
                    tel:tel
                },
                success:function(msg){
//                    alert(msg);
                    $('#code').val(msg)
                }
            })
        }else{
            return false;
        }
    });
    //判断手机验证码正确否
    function code(){
        var code_one=$('#reg_verif').val();
        var code_two=$('#code').val();
        $('.su').empty();
        if(code_one==''){
            $('<div class="error">').html("<font color='red'>验证码不能为空！</font>").appendTo('.su').fadeOut(2000);
        }else if(code_one==code_two){
            $('<div class="error">').html("<font color='red'>验证码正确！</font>").appendTo('.su').fadeOut(2000);
        }else{
            $('<div class="error">').html("<font color='red'>验证码不正确！</font>").appendTo('.su').fadeOut(2000);
        }
    }
    //密码的规则验证
    function pwd(){
        $('.su').empty();
        var password = $("#reg_password").val(),
                passw = /^[a-zA-Z]{8,16}$|^[0-9]{8,16}$|^[~!@#$%^&*._]{8,16}$/.test(password),
                pw = /^[0-9A-Za-z~!@#$%^&*._]{8,16}$/.test(password);
        if(passw || pw){
            $('<div class="error">').html("<font color='red'>密码可以使用！</font>").appendTo('.su').fadeOut(2000);
        }else if(password==''){
            $('<div class="error">').html("<font color='red'>密码不能为空！</font>").appendTo('.su').fadeOut(2000);
        }else{
            $('<div class="error">').html("<font color='red'>密码为8~16位数字、字母或符号组合！</font>").appendTo('.su').fadeOut(2000);
        }
    }
    //点击注册
    $('#b').click(function(){

        var tel= $('#tel').val();
        var reg = /^1[34578]\d{9}$/.test(tel);
        var code_one=$('#reg_verif').val();
        var code_two=$('#code').val();
        var password = $("#reg_password").val();
//        alert(password);return false;
                passw = /^[a-zA-Z]{8,16}$|^[0-9]{8,16}$|^[~!@#$%^&*._]{8,16}$/.test(password),
                pw = /^[0-9A-Za-z~!@#$%^&*._]{8,16}$/.test(password);
        $('.su').empty();
        if(reg) {
            if ((code_one == code_two) && (passw || pw)) {
                $.ajax({
                    type: 'POST',
                    url: 'code_yz',
                    data: {
                        code_one: code_one,
                        code_two: code_two,
                        password: password,
                        telephone: tel
                    },
                    success: function (msg) {
                        if(msg==0){
                            $('<div class="error">').html("<font color='red'>手机号已被注册！</font>").appendTo('.su').fadeOut(2000);
                        }
                        if(msg==1){
                            location.href='index';
                            return true;
                        }
                        if(msg==2){
                            $('#reg_verif').empty();
                            $('<div class="error">').html("<font color='red'>验证码不正确！</font>").appendTo('.su').fadeOut(2000);
                            return false;
                        }
                    }
                })
            }
        }
    })
</script>


<div class="login-footer">
    <ul class="lg-footer-ul">


        <li><span>© 2017 人人贷 All rights reserved</span><i></i></li>
        <li><span>人人贷商务顾问(北京)有限公司</span><i></i></li>


        <li><span>京公网安备11010802021944</span><i></i></li>


        <li><span>京ICP备12025643号-1</span></li>

    </ul>
    <!--<div class="login-company">北京微财科技有限公司</div>-->
</div>







<script>
    /*
     var _hmt = _hmt || [];
     (function() {
     var hm = document.createElement("script");
     //we，rerendai使用不同的百度统计代码
     if(window.tplConf._isWeCom == 'true'){
     hm.src = "//hm.baidu.com/hm.js?16f9bb97b83369e62ee1386631124bb1";
     }else{
     hm.src = "https://hm.baidu.com/hm.js?a00f46563afb7c779eef47b5de48fcde";
     }
     var s = document.getElementsByTagName("script")[0];
     s.parentNode.insertBefore(hm, s);
     })();
     */

    //ga统计
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-93150356-1', 'auto');
    ga('send', 'pageview');
</script>




<script type="text/javascript" src="js/mod_f76e019_1.js"></script><script type="text/javascript" src="js/common_nm_c1e2e2f_1.js"></script><script type="text/javascript" src="js/common_wdg_aa3b670_1.js"></script><script type="text/javascript" src="js/passport_wdg_85e07c4_1.js"></script><script type="text/javascript" src="js/index_46c4ad9_1.js"></script><script type="text/javascript" src="js/layout_b972aa2_1.js"></script><script type="text/javascript">!function() {
    require(["common:page/layout.js"] , function(app){

        app.initUtmOperate();
    });
}();
!function() {
    var we = '\u0022\u0022';


    we= JSON.parse(we);

    require(["passport:page/index/index.js"] , function(app){
        app.init({
            we:we
        });
    });
}();
!function() {


}();</script></body>

</html>
